@charset "UTF-08";

/* Este exemplo foi criado a folha de estilo dentro em umm único outro arquivo,
     a diferença aqui é que foi usado os (@media) um para o corpo a página geral (ALL) e os demais para especificar a configuração da orientação da página.
    Foi alterado a cor de fundo do HTML para diferenicar uma página da outra*/


/*Declarações Gerais  */
@media all{
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        }
        html, body{
            width: 100vw;
            height: 100vh;
            background-color: #23ff35;
            background-size: contain;
            background-repeat: no-repeat;
        }
        h1{
            color: white;
            text-shadow: 2px 2px 0px #1526a7;
            padding: 10px;
    }

} 
/*Declarações retrato */
@media screen and (orientation: portrait) {
    body{
        background-image: url(../estilos_index_B_003/cev-portrait.jpg);
        background-position: center bottom;
    }
    
}
/*Declarações paisagem */
@media screen and (orientation: landscape) {
    body{
        background-image: url(../estilos_index_B_003/cev-landscape.jpg);
        background-position: left bottom;
    }
}